<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHK Minning</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  {{>navbar}}
  <body>

  

    {{{ body }}}
    <script src="/axios/axios.min.js" ></script>

    <script>
axios.defaults.headers.common['Authorization'] = localStorage.getItem("token");
    </script>

    {{>VerifyAuth}}
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
  {{>footer}}
</html>