<nav class="navbar navbar-dark bg-gradient py-2 shadow" style = "background-color: #1c0c54">
  <div class="container-fluid">
    <h1>
       <a class="navbar-brand">Ingeniería y Automatización</a>
    </h1>
  </div>
</nav>