<div class="row container px-sm-5 py-5 justify-content-center mx-auto">
    
    <form class="border shadow col-12 col-md-10 col-lg-9">
      <div class="my-1"><h1>Agregar Nuevo Trabajador</h1></div>
      
      <div class="container">
          <div class="row align-items-center my-5">
               <div class="col-12 col-md-6">
                  <h5>RUT</h5>
                <input type="text" id="inputRut" class="form-control" placeholder="Ingrese RUT" >
              </div>

              <div class="col-12 col-md-6">
                  <h5>NOMBRE</h5>
                <input type="text" id="inputNombre" class="form-control" placeholder="Ingrese Nombre">
              </div>
             
          </div>
      </div>

 <div class="container">
          <div class="row align-items-center my-5">
             <div class="col-12 col-md-6">
                 <h5>APELLIDO</h5>
                 <input type="text" id="inputApellido" class="form-control" placeholder="Ingrese Apellido">        
             </div>

            <div class="col-12 col-md-6 pt-1">
              <h5>FECHA DE NACIMIENTO</h5>
              <input type="text" id="inputNacimiento" class="form-control m-auto" placeholder="Ingrese Fecha de Nacimiento">
            </div>
          </div>
      </div>

      <div class="container">
          <div class="row align-items-center my-5">
              <div class="col-12 col-md-6">
                <h5>CARGO</h5>
                <input type="text" id="inputCargo" class="form-control" placeholder="Ingrese Cargo">
              </div>

              <div class="col-12 col-md-6">
                  <h5>CONTRATO</h5>
                 <input type="text" id="inputContrato" class="form-control" placeholder="Ingrese Contrato">
              </div>
          </div>

          <div class="col-12 col-md-6">
        <h5>FOTO</h5>
        <input id="inputFoto" name="foto" type="file" />
      </div>
     </div>
<div class="container">
          <div class="row align-items-right my-5">
              <div class="col-4">
                <button type="submit" class="btn btn btn-success shadow">Agregar</button>
                
              </div>

         </div>
</div>

     
</form>

<form class="border shadow col-12 col-md-10 col-lg-9 mt-4">
    <div class="input-group col-12 col-md-6">

     <input type="text" id="rutTrabajador" class="form-control" placeholder="14.141.943-9" disabled>      
     <input type="text" id="nombreTrabajador" class="form-control" placeholder="Claudio Paredes Bustamante" disabled>
     <button type="submit" class="btn btn btn-outline-warning shadow">Modificar</button>  
     <button type="submit" class="btn btn btn-outline-danger shadow">Eliminar</button>  
               
    </div>  
</form>


</div>