<div class="row container px-sm-5 py-5 justify-content-center mx-auto">
    <div class="my-1"><h1>Administrar Trabajadores</h1></div>
    <hr />
    <form class="border shadow col-12 col-md-10 col-lg-9">
      <div class="container">
          <div class="row align-items-center my-5">
               <div class="col-12 col-md-6">
                  <h5>RUT</h5>
                <input type="text" name="inputRut" class="form-control" value="" placeholder="Ingrese RUT" >
              </div>

              <div class="col-12 col-md-6">
                  <h5>NOMBRE</h5>
                <input type="text" name="inputNombre" class="form-control" value="" placeholder="Ingrese Nombre">
              </div>
             
          </div>
      </div>

 <div class="container">
          <div class="row align-items-center my-5">
             <div class="col-12 col-md-6">
                 <h5>APELLIDO</h5>
                 <input type="text" name="inputApellido" class="form-control" value="" placeholder="Ingrese Apellido">        
             </div>

            <div class="col-12 col-md-6 pt-1">
              <h5>FECHA DE NACIMIENTO</h5>
              <input type="text" name="inputNacimiento" class="form-control m-auto" value="" placeholder="Ingrese Fecha de Nacimiento">
            </div>
          </div>
      </div>

      <div class="container">
          <div class="row align-items-center my-5">
              <div class="col-12 col-md-6">
                <h5>CARGO</h5>
                <input type="text" name="inputCargo" class="form-control" value="" placeholder="Ingrese Cargo">
              </div>

              <div class="col-12 col-md-6">
                  <h5>CONTRATO</h5>
                 <input type="text" name="inputContrato" class="form-control" value="" placeholder="Ingrese Contrato">
              </div>
          </div>

          <div class="col-12 col-md-6">
        <h5>FOTO</h5>
        <input name="inputFoto" type="file" />
      </div>
     </div>
<div class="container">
          <div class="row align-items-right my-5">
              <div class="col-4">
                <button type="submit" class="btn btn btn-success shadow">Agregar</button>
                
              </div>

         </div>
</div>
<div class="container">
          <div class="row align-items-right my-5">
              <div class="col-12 col-md-6">
                <button id="volver" type="submit" class="btn btn-primary">Volver</button>
              </div>
          </div>
</div>
</form>
{{!-- 
<form class="border shadow col-12 col-md-10 col-lg-9 mt-4">
  <div class="container">
          <div class="row align-items-center my-5">
    <div class="input-group col-12 col-md-6">
{{#each trabajador}}
     <input type="text" id="rutTrabajador" class="form-control" placeholder="{{this.rut}}" disabled>      
     <input type="text" id="nombreTrabajador" class="form-control" placeholder="{{this.nombre}}" disabled>
     <button type="submit" id="modificarTrabajador" class="btn btn btn-outline-warning shadow">Modificar</button>  
     <button type="submit" id="eliminarTrabajador" class="btn btn btn-outline-danger shadow">Eliminar</button>  
{{/each}}             
    </div>  
      </div>
    </div> --}}

<div class="container">
          <div class="row align-items-right my-5">
              <div class="col-12 col-md-6">
                <button id="volverMod" type="button" class="btn btn-primary">Volver</button>
              </div>
          </div>
</div>
</form>
</div>

<script>
 
 const form = document.querySelector('form');
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
      const formData = new FormData(form);
      const { data } = await axios.post('/api/trabajadores', formData,  {
          headers: {
            "Content-Type": "multipart/form-data",
          }
      });
      console.log(formData)
       console.log(data);
       
       alert("Registro Creado") 
       window.location.href = `/adminTrabajador`
      })
 
</script>


<script>
    const volver = document.getElementById("volver")
    volver.addEventListener("click", async (e) => {
        e.preventDefault()
        window.location = `/menuAdmin`
    });
</script>

<script>
    const volverMod = document.getElementById("volverMod")
    volverMod.addEventListener("click", async (e) => {
        e.preventDefault()
        window.location = `/menuAdmin`
    });
</script>